.vscode
.vscode-server
__pycache__

/projects/log/*
/projects/temp/*
/projects/data/*/*
/projects/data_preprocessed/*
/projects/data_predict/*
/projects/data_receipts/*
/projects/.secret.yaml
/projects/models/*
/projects/data_final/*
/projects/_test*.ipynb
/projects/newLabel_example

ssh-config
teo-apichon.ovpn
!.keeps